/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f7f6f2;
    color: #222;
}

/* NAVBAR (same as home page) */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 50;
    border-bottom: 1px solid #e5e5e5;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 65px;
}

.logo h2 {
    font-size: 20px;
}

.logo span {
    font-size: 12px;
    color: #777;
}


nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
}

nav a:hover, nav .active {
    background: #e1f2e1;
    border: 1px solid #0f6b2b;
}

/* HERO */
.about-hero {
    height: 380px;
    background: linear-gradient(to right, rgba(3, 84, 35, 0.8), rgba(147, 98, 27, 0.7)),
        url('https://wallpapers.com/images/featured/wildlife-4k-pa4l9r6kvdvkaduk.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 80px;
    color: white;
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.5;
}

/* ABOUT CONTENT */
.about-section {
    padding: 60px 80px;
}

.about-section h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
}

.about-section p {
    font-size: 17px;
    color: #444;
    margin-bottom: 10px;
}

.about-section ul {
    margin-top: 15px;
}

.about-section li {
    list-style: none;
    padding: 8px 0;
    font-size: 17px;
}

.who-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.who-card {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #e5e5e5;
    transition: 0.3s;
}

.who-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

/* FOOTER (same as home page) */
footer {
    background: #0a5d29;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
}

footer a, footer p {
    color: #d9f5e0;
}

.footer-bottom {
    background: #08441f;
    text-align: center;
    color: #c8f1d2;
    padding: 10px;
    font-size: 14px;
}
