@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to bottom right, #e9f6ea, #fbf9f4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    width: 500px;
    padding: 50px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    text-align: center;
}

.icon-circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: #e9f6ea;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 40px;
}

h2 {
    font-size: 28px;
    margin-bottom: 6px;
    color: #1d3b2e;
}

.sub-text {
    color: #6c7a73;
    margin-bottom: 25px;
}

/* INPUTS */
label {
    float: left;
    margin-bottom: 6px;
    color: #1d3b2e;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 22px;
    border: 1px solid #cfd8d1;
    border-radius: 8px;
    font-size: 15px;
}

/* BUTTON */
button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #157537;
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin-top: 10px;
    transition: .3s;
}

button:hover {
    background: #0d5e28;
}

/* BACK LINK */
.back-link {
    display: block;
    margin-top: 22px;
    color: #2c412f;
    text-decoration: none;
    font-size: 15px;
}

.back-link:hover {
    text-decoration: underline;
}
